﻿<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
@*<div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>ASP.NET Web API is a framework that makes it easy to build HTTP services that reach
            a broad range of clients, including browsers and mobile devices. ASP.NET Web API
            is an ideal platform for building RESTful applications on the .NET Framework.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301870">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301871">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>
        </div>
    </div>*@

<h1>@ViewBag.Nimi</h1>
<p>ViewBag.Sõnum: @ViewData["Sõnum"]</p>
<p>ViewData.TeineSõnum: @ViewData["TeineSõnum"]</p>
<p>ViewBagTeine: @ViewData["Teine"]</p>
<p>TempBagTeine: @TempData["Teine"]</p>

<p>Query: @ViewBag.QueryString</p>
<p>Query: @Request.QueryString</p>
<p>Vanaema: @ViewBag.Vanaema</p>
<h4>Params:</h4>
<h4>Nimi: @ViewBag.Nimi</h4>
<h4>Endine nimi: @ViewBag.EndineNimi</h4>
<h4>AppNr: @ViewBag.AppNr</h4>
<h4>SessionNr: @ViewBag.SessNr</h4>
@*@foreach(string s in Request.Params.Keys)
    {
        <p>@s: @Request.Params[s]</p>
    }*@
