﻿@model IEnumerable<Kalendrivaade.Models.Tasks>
@using Kalendrivaade.Models

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PersonId)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonId)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>

@*siiani oli nende tehtud view - ma midagi siin ei torkinud*@

@*silumisemõttes, et näha, et õiged numbrid tulevad controllerist*@
<p>startdate @ViewBag.StartDate.ToString("ddd dd.MMMM.yyyy")</p>
<p>calstart @ViewBag.CalStart.ToString("ddd dd.MMMM.yyyy")</p>

@* neid kahte vaatame hiljem, need on et saaks kalendris liikuda *@
@Html.ActionLink("Eelmine", "Index", new
{
    month = (ViewBag.Month==1?12:(ViewBag.Month-1)),
    year = (ViewBag.Month==1?(ViewBag.Year-1):ViewBag.Year)
})
@Html.ActionLink("Järgmine", "Index", new
{
    month = (ViewBag.Month==12?1:(ViewBag.Month+1)),
    year = (ViewBag.Month==12?(ViewBag.Year+1):ViewBag.Year)
})

@*Kalendrile pealkiri*@
<h2>Kalender @ViewBag.StartDate.ToString("MMMM yyyy")</h2>

@*kalender on TABEL - 7 veergu ja 4-6rida *@
<table class="table tabe-bordered" style="border-style:double;border-color:darkslategrey">
    <thead>
        @* tabeli päisesse nädalapäevad - kolme moodi *@
        @*<tr style="border-style:double;border-color:darkslategrey">
                @for (DayOfWeek d = DayOfWeek.Sunday; d <= DayOfWeek.Saturday; d++)
                {
                    <td class="col-lg-1" style="border-style:double;border-color:darkslategrey">@d.ToString()</td>
                }

            </tr>*@
        <tr style="border-style:double;border-color:darkslategrey">
            @*<td class="col-lg-1">Esmapäev</td>
                <td class="col-lg-1">Teisipäev</td>
                <td class="col-lg-1">Kolmapäev</td>
                <td class="col-lg-1">Neljapäev</td>
                <td class="col-lg-1">Reede</td>
                <td class="col-lg-1">Laupäev</td>
                <td class="col-lg-1">Pühapäev</td>*@
            @for (int n = 0; n < 7; n++)
            {
                <th class="col-lg-1 text-center" style="border-style:double;border-color:darkslategrey">
                    @(new DateTime(1955, 03, 07).AddDays(n).ToString("dddd"))
                </th>
            }
        </tr>
    </thead>
    @* siin lõppeb tabeli pea - see OLI lihtne osa*@
    <tbody>
        @foreach (var week in ViewBag.Dates) // käime läbi meile antud Kuupäevad
        {
            // KUI nädala esimene päev on järgmises kuus, siis me seda nädalat ei kuva
            if (week[0].Year * 12 + week[0].Month <= ViewBag.Year * 12 + ViewBag.Month)
            {
                <tr style="height:120px">
                    @* üks nädal üks rida *@
                    @foreach (DateTime day in week)
                    {
                        // nüüd käime läbi KÕIK kuupäevad selles nädalas ja teeme iga kohta ruudu
                        <td style="border-style:double;border-color:darkslategrey">
                            <div class="text-right">
                                @if (day.Month == ViewBag.Month)
                                { // aga need ruudud, kus on mõne teise (eelmise või järgmise)
                                  // kuu päev, jätame tühjaks
                                    <div style="border:double;border-color:red;width:100%;background-color:aqua">
                                        <div class="float-right badge">@day.Day</div>
                                        @* ruudu üles nurka päeva number *@
                                    </div>
                                    // ja nüüd käime läbi KÕIK taskid, kellel selle päevaga asja
                                    // st see päeva on taski alguse ja lõpu vahel ja näitame teda siin kastis
                                    // NB! taskid, millel ei ole kas alguse või lõpu kuupäeva tekitavad vea!
                                    foreach (Tasks task in Model.Where(x => day <= x.EndDate && day >= x.StartDate))
                                    {
                                        <a href="@Url.Action("Details", new { id = task.Id })">
                                            <p style="background-color:lightblue">@task.Name</p>
                                        </a>
                                    }
                                }
                            </div>
                        </td>
                    }


                </tr>
            }
        }
    </tbody>

</table>
@*sellega lõppes kuukalender*@

@* vaatame, kuida teha aasta-kalender*@
@* tabelile pealkiri ja päis, seekord kuunimedega*@
<h2>Aasta @ViewBag.Year</h2>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <td class="col-lg-2">Ülesanne</td>
            @for (int n = 1; n < 13; n++)
            {
                <th class="col-lg-1">@(new DateTime(2000, n, 1).ToString("MMMM"))</th>
            }
            @*<td class="col-lg-1">Jaanuar</td>
                <td class="col-lg-1">Veebruar</td>
                <td class="col-lg-1">Märts</td>
                <td class="col-lg-1">Aprill</td>
                <td class="col-lg-1">Mai</td>
                <td class="col-lg-1">Juuni</td>
                <td class="col-lg-1">Juuli</td>
                <td class="col-lg-1">August</td>
                <td class="col-lg-1">Septeber</td>
                <td class="col-lg-1">Oktoober</td>
                <td class="col-lg-1">November</td>
                <td class="col-lg-1">Detsember</td>*@
        </tr>
    </thead>
</table>